.shelly-form {
  display: flex;
  flex-direction: column; /* sorgt dafür, dass Felder untereinander stehen */
  gap: 16px; /* optional: Abstand zwischen den Feldern */
}

.full-width {
  width: 100%;
}
