<h2 mat-dialog-title>{{ data ? 'Configure Shelly' : 'Add new Shelly' }}</h2>

<mat-dialog-content>
  <form [formGroup]="shellyForm" class="shelly-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>IP-Address</mat-label>
      <input matInput formControlName="IP">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="!shellyForm.valid">
    {{ data ? 'Update' : 'Add' }}
  </button>
</mat-dialog-actions>
