name: CI - SonarQube

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  sonar:
    name: SonarQube Analysis
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: voltcast-frontend

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm test -- --coverage

      - name: Run SonarQube scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          npx sonar-scanner \
            -Dsonar.projectKey=frontend-app \
            -Dsonar.sources=src \
            -Dsonar.host.url=https://sonarcloud.io/project/overview?id=VoltCast-a-ASE-project_Frontend:9000 \
            -Dsonar.login=$SONAR_TOKEN \
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
